sudo: required
services:
  - docker

before_install:
  - docker build -t test -f Dockerfile.dev .

script: 
  - docker run test npm run -e CI=true test -- --coverage

language: generic
deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: "react"
  env : "React-env"
  bucket_name: "elasticbeanstalk-ap-south-1-379093691113"
  bucket_path: "react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
      secure: "$AWS_SECRET_KEY"

